:root { 
--purple_100:#ddacf5; 
--gray_50_01:#fafafa; 
--gray_50_02:#f7f9fa; 
--white_A700_3f:#ffffff3f; 
--blue_A400:#1877f2; 
--red_200:#f28f8f; 
--blue_A200:#4285f4; 
--deep_purple_600:#64379f; 
--black_900_01:#000000; 
--teal_500:#009387; 
--cyan_50_01:#e3f8f8; 
--deep_orange_200_01:#ffbe9d; 
--gray_200_01:#e5e7eb; 
--blue_gray_900_02:#263238; 
--deep_orange_300:#fba465; 
--black_900_07:#00000007; 
--white_A700_19:#ffffff19; 
--blue_gray_900_01:#27104e; 
--blue_gray_700:#455a64; 
--gray_200_02:#ebebeb; 
--blue_gray_900:#2e2f35; 
--deep_purple_A200:#7549ff; 
--deep_orange_100:#fdd2b4; 
--gray_200_03:#ececee; 
--gray_600:#6e6e6e; 
--blue_gray_100:#d1d5db; 
--amber_500:#fbbc05; 
--blue_500:#1da1f2; 
--teal_500_66:#00938766; 
--red_50_01:#faeded; 
--gray_200:#e8e8e8; 
--black_900_0c:#0000000c; 
--gray_100_03:#f5f2ff; 
--deep_purple_50:#eeecff; 
--gray_100_02:#f5f5f5; 
--gray_100_01:#f3f5f9; 
--cyan_50:#d9f2f7; 
--blue_100:#c2e2ed; 
--white_A700:#ffffff; 
--gray_700_01:#5a5a5a; 
--deep_orange_A200:#ff6d2c; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_900_14:#1f293714; 
--red_300:#b16668; 
--red_500:#eb4335; 
--purple_100_66:#ddacf566; 
--green_800:#218f38; 
--green_600:#34a853; 
--gray_50:#f3fafa; 
--teal_200:#92cbce; 
--red_50:#fdf3ea; 
--green_400:#6bcb54; 
--blue_gray_200_01:#aab8c2; 
--black_900_66:#00000066; 
--black_900:#040404; 
--blue_gray_100_7f:#d9d9d97f; 
--gray_500_01:#92959e; 
--blue_gray_800:#37474f; 
--pink_800:#9a4a4d; 
--deep_orange_200:#ffa8a7; 
--blue_gray_900_66:#2e2f3566; 
--green_400_01:#73c255; 
--purple_400:#9854cb; 
--gray_900_02:#111827; 
--blue_gray_50_01:#ebeef0; 
--gray_700:#58595d; 
--gray_900_03:#0f1419; 
--blue_gray_50_02:#eff1f2; 
--blue_gray_200:#a0cdcd; 
--gray_500:#9d9d9d; 
--indigo_50:#dcdef9; 
--deep_orange_300_01:#eb996e; 
--blue_gray_600:#5b7083; 
--gray_900:#212121; 
--gray_900_01:#222222; 
--orange_900:#e25f00; 
--blue_gray_900_03:#2d3135; 
--teal_50:#e0f8f2; 
--blue_gray_900_7f:#27104e7f; 
--gray_300_03:#e6e6e6; 
--gray_300:#e6e6e7; 
--gray_300_02:#e0e0e0; 
--gray_300_01:#e5e5e5; 
--gray_100:#f3f4f6; 
--purple_400_19:#9854cb19; 
--indigo_300:#7580e8; 
--orange_50:#ffe8dc; 
--white_A700_01:#fcfbff; 
}